html,
body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

div#hello-world {
  margin-top: 36px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
